.card-layout-chart{
    
    float: left;
    /* justify-content: center; */
    width: 100%;
    /* margin-left: 19%; */
    /* margin-right: 19%; */
}
.card-1-chart{
    /* box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7); */
    font-size: 15px;
    width: 35%;
    /* opacity: 0.7; */
    float: left;
    margin-left: 8%;
}
.card-2-chart{
    /* box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7); */
    /* margin-left: 1%; */
    /* opacity: 0.7; */
    width: 30%;
    float: left;
}
.localtion{
    margin-bottom: 3%;
}
.status-mass{
    padding-top: 10%;
}
.status-time-mass{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.time-line{
    font-size: 30px;
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 5%;
}
.time-line-1{
    font-size: 30px;
    font-weight: 600;
    /* margin-top: 3%; */
}
.title-launch{
    font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    margin-top: 0;
    /* padding-top: 3%; */
    font-weight: 600;
    font-size: 50px;
    text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7);
}
.bg-launch{
    background-image: url('./../../bg-color.jpg');
    /* background-color: black; */
    /* background-size: cover; */
    height: 640rem;
}